body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(217, 221, 225);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(54, 56, 57);
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

.budgetNumber{
    display: flex;
    justify-content: space-between;
    width: 70%;
    max-width: 700px;
    margin: 1rem 0 3rem;
}

.number{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
}

.amountContainer{
    margin-top: -1rem;
    display: flex;


}

.nbEarned{
    color: greenyellow;
}

.nbAvailable{
    color: rebeccapurple;
}

.nbpent{
    color: red;
}

.inputContainer input{
    border: none;
    padding: 10px;
    margin: 10px 5px;
    border-radius: 15px;
    outline: none;;
}

.inputContainer .description{
    width: 300px;
}

.inputContainer .amount{
    width: 100px;
}

.btnContainer{
    margin:10px 0 3rem;
}

.btnContainer .addIncome,
.btnContainer .addExpense{
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 15px;
    outline: none;
    cursor: pointer;

}

.btnContainer .addIncome{
    background-color: green;
}

.btnContainer .addExpense{
    background-color: red;
}

.itemContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    max-width: 700px;
}

.itemIncome,
.expense{
    width: 100%;
    background-color: white;
    border-radius:15px ;
    display: flex;
    justify-content: space-around;
    padding: 5px 30px;
    align-items: center;
    margin: 5px 0px;
}

.itemIncome section,
.expense section{
    display: flex;
    flex-direction: row;
}

.itemIncome section p,
.expense section p{
    margin: 0px 2px;
}
