<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mes Comptes</title>
</head>
<body>
    <header>
        <h1><a href="#">Mes Comptes</a></h1>
    </header>
    <main>
        <section class="moneyEarned">
            <p>Argent ajouté</p>
            <section>
                <p>1000</p>
                <p>€</p>
            </section>
        </section>

        <section class="moneyEarned">
            <p>Argent total</p>
            <section>
                <p>50</p>
                <p>€</p>
            </section>
        </section>

        <section class="moneyEarned">
            <p>Argent dépensé</p>
            <section>
                <p>10</p>
                <p>€</p>
            </section>
        </section>

    </main>
    <footer>

    </footer>
</body>
</html>

