<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mes Comptes</title>
    <link rel="stylesheet" href="../static/count.css">
    <!-- MDI(icon) -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font/css/materialdesignicons.min.css">

</head>
<body>
    <header>
        <h1><a href="">Mes Comptes</a></h1>
    </header>
    <main>
        <section class="container">
            <section class="budgetNumber">
                <section class="number moneyEarned" id="earned">
                    <p>Argent ajouté</p>
                    <section class="amountContainer nbEarned">
                        <p>1000</p>
                        <p>€</p>
                    </section>
                </section>
        
                <section class="number moneyAvailable" id="available">
                    <p>Argent total</p>
                    <section class="amountContainer nbAvailable">
                        <p>50</p>
                        <p>€</p>
                    </section>
                </section>
        
                <section class="number moneySpent" id="spent">
                    <p>Argent dépensé</p>
                    <section class="amountContainer nbpent">
                        <p>10</p>
                        <p>€</p>
                    </section>
                </section>
            </section>
    
            <section class="inputContainer">
                <input type="text" class="description" id="description" placeholder="Description">
                <input type="date" class="date" id="date">
                <input type="number" class="amount" id="amount" placeholder="Montant">
                
            </section>
    
            <section class="btnContainer">
                <button class="addIncome" id="addIncome">Ajouté l'argent</button>
                <button class="addExpense" id="addExpense">Retirer l'argent</button>
            </section>





    
            <section class="itemContainer">

                <!-- Argent ajouté -->
                <section class="containerCount">
                    <h2>Argent ajouté</h2>
                    <section class="itemIncome">
                        <p>descrition de l'ajout d'argent1</p>
                        <section>
                            <p>10</p>
                            <p>€</p>
                        </section>
                        <span class="spanSupr mdi mdi-trash-can-outline"></span>
                    </section>

                    <section class="itemIncome">
                        <p>descrition de l'ajout d'argent2</p>
                        <section>
                            <p>10</p>
                            <p>€</p>
                        </section>
                        <span class="spanSupr mdi mdi-trash-can-outline"></span>
                    </section>

                    <section class="itemIncome">
                        <p>descrition de l'ajout d'argent3</p>
                        <section>
                            <p>10</p>
                            <p>€</p>
                        </section>
                        <span class="spanSupr mdi mdi-trash-can-outline"></span>
                    </section>
                </section>




                <!-- Argent dépensé -->

                <section class="containerCount">
                    <h2>Argent dépensé</h2>
                    <section  class="expense">
                        <p>descrition de la depense1</p>
                        <section class="itemExpense">
                            <p>10</p>
                            <p>€</p>
                            
                        </section>
                        <span class="spanSupr mdi mdi-trash-can-outline"></span>
                    </section>

                    <section  class="expense">
                        <p>descrition de la depense grsgs 2</p>
                        <section class="itemExpense">
                            <p>10</p>
                            <p>€</p>
                            
                        </section>
                        <span class="spanSupr mdi mdi-trash-can-outline"></span>
                    </section>

                    <section  class="expense">
                        <p>descrition de la depense3 </p>
                        <section class="itemExpense">
                            <p>10</p>
                            <p>€</p>
                            
                        </section>
                        <span class="spanSupr mdi mdi-trash-can-outline"></span>
                    </section>
                </section>
            </section>
        </section>



    </main>
    <footer>

    </footer>
</body>
</html>

