<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/pagesconnexion.css">
</head>
<body>
    <header>
        <h1><a href="#">Challange.JS</a></h1>
    </header>
    <main>
        <section class="sectionConexion">
            <input class="form inputId" type="text" name="" id="idConexion" placeholder="Votre Identifiant">
            <input class="form inputPw" type="password" id="passwordConexion" placeholder="Votre mot de passe">
            <button class="form btnConec">Conexion</button>
            <button class="form btnForgot">Identifiant ou mot de passe oublié ?</button>
        </section>
        <section class="sectionInfo">
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </section>
    </main>
    <footer></footer>
</body>
</html>