<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>
    <div class="container">
        <h1>Budget App</h1>
        <div class="form">
            <input type="text" id="description" placeholder="Description">
            <input type="number" id="amount" placeholder="Amount">
            <select id="category">
                <option value="" selected disabled>Choose category...</option>
            </select>
            <select id="subCategory">
                <option value="" selected disabled>Choose sub-category...</option>
            </select>
            <input type="date" id="date">
            <button id="add__income">Add Income</button>
            <button id="add__expense">Add Expense</button>
        </div>
        <div class="totals">
            <div>
                <h3>Total Earned:</h3>
                <p id="amount__earned">0.00</p>
            </div>
            <div>
                <h3>Total Spent:</h3>
                <p id="amount__spent">0.00</p>
            </div>
            <div>
                <h3>Available Balance:</h3>
                <p id="amount__available">0.00</p>
            </div>
        </div>
        <div class="items__container">
            <div id="income__container" class="container">
                <h2>Income</h2>
            </div>
            <div id="expenses__container" class="container">
                <h2>Expenses</h2>
            </div>
        </div>
    </div>
    <script type="module" src="../java-s/App.js"></script>
</body>
</html>

