<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/pagesconnexion.css">
</head>
<body>
    <header>
        <h1><a href="#">Challange.JS</a></h1>
    </header>
    <main>
        <section class="sectionConexion">
            <input type="text" name="" id="idConexion">
            <input type="password" id="passwordConexion">
            <button>Conexion</button>
            <button>Identifiant ou mot de passe oublié ?</button>
        </section>
        <section class="sectionInfo">
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </section>
    </main>
    <footer></footer>
</body>
</html>